body {
    background-color: rgb(163, 230, 233);
}

#feed {
    background-color: white;
    width: 900px;
    margin: 0 auto;
    padding-top: 10px;
}

.tweet {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom-style: dashed;
}

.tweet a {
    display: inline-block;
    padding-bottom: 2px;
    margin-right: 900px;
}

.datetime {
    font-size: 0.8em;
    color: rgb(128, 128, 128);
    padding-left: 40px;
    padding-top: 4px;
}

